/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*variables*/
:root{
    --primery:#222946;
    --secondry:#37B667;
    --bg-primery:#E9ECFC;
    --text:#A0A0A3;
}
/*General styles*/
*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
line-height:1.5;
font-family: 'Open Sans', sans-serif;
}
.width-full{
    width: 100%;
}
.font-0{
    font-size: 0;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
}
/* flex properties */
.flex{
display:flex;
}
.space-between{
justify-content:space-between;
}
.center{
    align-items: center;
}
.flex-48{
flex:0 1 48%;
}
.flex-30{
flex:0 1 30%;
}
.padding{
    padding: 3rem 0;
}
/*Header*/
header{
    background-color: var(--primery);
    padding: 2rem 0;
}
.navbar li{
    margin-left: 3rem;
    text-decoration: none; 
    font-size: 1.5rem;
}
.navbar li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
ul li .active{
    color: var(--secondry);
}
/*section1*/
.section1{
    background-color: var(--bg-primery);
}
h1,h2{
    font-size: 3rem;
    font-weight: 700;
}
p{
    color: var(--text);
    padding: 2rem 0;
    font-size: 1.4rem;
}
button{
    font-size: 1.4rem;
    color: white;
    background-color: var(--secondry);
    padding: 1rem 2rem;
    border: 0;
    border-radius: 5px;
}
/**/
.section2 article{
    margin-top: 2rem;
}
h2{
    text-align: center;
}
h3{
    font-size: 2rem;
}
.section2 p{
    color: var(--text);
    padding: 1rem 0;
    font-size: 1.3rem;
}
/**/
footer{
    background-color: var(--primery);
    color: var(--text);
    font-size: 2rem;
}
footer a{
    color: var(--text);
}
footer a:hover{
    color: var(--secondry);
}
/*media query*/
@media screen and (max-width:768px) {
    html{
        font-size: 12px;
    }
    .flex-48{
        flex:0 1 100%;
        }
        .flex-30{
        flex:0 1 100%;
        }
        .wrap{
            flex-wrap: wrap;
        }
        .section2 article{
            padding: 0 2rem;
        }
        .navbar div,.navbar nav{
            width: 100%;
        }
        .navbar div{
            text-align: center;
        }
        /*footer*/
        .footer small,.footer div{
            flex:0 1 100%;
            text-align: center;
        }
}